
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link rel="stylesheet" href="/css/header-styles.css"/>
      
      <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>

    
<header>
    <div class="header-inner">
     
      <div class="header-inner-left">
        
        <h3 style="text-align: start;">
            
                <a id="logo-name" href="/">SplitUp</a>
                
        </h3>
      </div>


      


      <div id="header-inner-right-b-login">
        <a class="logout-btn" href="/contactUs">Contact Us</a>

        <%if (!locals.session.loggedin) { %>
          <div id="login&signup">
              <a href="/login"><button type="button" class="button-login">Login</button></a>
              <a href="/register"><button type="button" class="button-sign-up">Sign up</button></a>
          </div> 
           
        <% }else{ %>
          <a class="logout-btn" href="/myrides">Your rides</a>
            <form action="/logout?_method=DELETE" method="POST">
                <button class="logout-btn" type="submit">Logout</button>
            </form>
           
        <%}%>
      </div>
    </div>
  <!--<h2>Find a Ride</h2>--> 
  </header>
