<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/home-styles.css" />
    <link rel="stylesheet" href="/css/index-style.css">
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <script>
    document.getElementById('login&signup').style.display='flex';
    document.getElementById('only-login').style.display='none';
    document.getElementById('only-signup').style.display='none';
  </script>

  <body>
    <div class="top-container">
      <div class="quote-content">
        <h1 class="cover-page-heading">SplitUp for eco-friendly rides <br>
          at pocket-friendly rates</h1>
      </div>
      <div class="button-ride-div">
        
        <a href="/find"><button type="button" id="home-button-book" class="button-ride">Book Now</button></a>
        <a href="/create"><button type="button" id="home-button-create" class="button-ride">Create</button></a>
      </div>
    </div>
    
    <div class="section-2">
        <h2 style="font-weight: 1300; font-size: 40px;" class="section-2-h2"> Cost-effective, Cosy & Convenient </h2>
      <div class="flexbox-container">
        <div class= 'item'>
          <img class="finance" src="/img/finance.svg" alt="">
          <h3 style="font-weight: bold;" class="h3">
            AC cabs at lowest fares
          </h3>
          <p style="font-size: 17px; font-weight: 500;" class="p">Share your AC cab with other SplitUp users travelling along your route. 
            Save upto a  minimum of 50% on your everyday travel expenses</p>
        </div>
        <div class="item">
          <img class="carbon" src="/img/carbon.svg" alt="">
          <h3 style="font-weight: bold;" class="h3">Reduce Carbon footprint</h3>
          <p style="font-size: 17px; font-weight: 500;" class="p">Sharing your ride with other SplitUp users would help reduce traffic woes and pollution.</p>
        </div>
        <div class="item">
          <img class="carbon" src="/img/time.svg" alt="">
          <h3 style="font-weight: bold;" class="h3">Choose Your Ride, Time, Date</h3>
          <p style="font-size: 17px; font-weight: 500;" class="p">Join in the groups in which you wish to where you have options to choose your ride and its time</p>
        </div>
      </div>
        



    </div>

    <div class="section-3">
      <h2 style="font-weight: 1300; font-size: 40px;" class="section-2-h2">Know more about SplitUp</h2>
      
      <div class="flexbox-container-sec3">
       <div>
        
         <h3 style="font-weight: bold;" class="h3">Know more about SplitUp</h3>
         <img class="what" src="img/what.svg" alt="">
         <p style="font-size: 17px; font-weight: 500;" class="p">SplitUp is an eco-smart option for handling all your travel needs by connecting you with fellow passengers. As our cities are growing, increased traffic adds to the chaos and pollution. Hence, we have committed to providing a convenient, economical and sustainable solution to this problem through carpooling.</p>
       </div>
       <div>
         <h3 style="font-weight: bold;" class="h3">Why use SplitUp?</h3>
         <img class="what" src="img/why.svg" alt="">
         <p style="font-size: 17px; font-weight: 500;" class="p">SplitUp helps you find a ride with other users ,travelling along your route , together you can book a cab and save upto 75% of your travel expenses</p>
       </div>
       
      </div>
    </div>


</body>
</html>
