<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/home-styles.css" />
    
    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <script>
    document.getElementById('login&signup').style.display='flex';
    document.getElementById('only-login').style.display='none';
    document.getElementById('only-signup').style.display='none';
  </script>

  <body>
    <div class="top-container">
      <div class="quote-content">
        <h1 class="cover-page-heading">RideShare for eco-friendly rides <br>
          at pocket-friendly rates</h1>
      </div>
      <div class="button-ride-div">
        
        <a href="/find"><button type="button" id="home-button-book" class="button-ride">Book Now</button></a>
        <a href="/create"><button type="button" id="home-button-create" class="button-ride">Create</button></a>
      </div>

    </div>
    <div class="container mid-container">
      <div class="row">
        <div class="col-md-4">
          <div class="message-div">
            <!--Advantage 1-->
            <h3>Advantage 1</h3>
            <p>This is advantage 1 for using this website.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="message-div">
            <!--Advantage 2-->
            <h3>Advantage 2</h3>
            <p>This is advantage 2 for using this website.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="message-div">
            <!--Advantage 3-->
            <h3>Advantage 3</h3>
            <p>This is advantage 3 for using this website.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="message-div">
            <!--Advantage 1-->
            <h3>Advantage 1</h3>
            <p>This is advantage 1 for using this website.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="message-div">
            <!--Advantage 2-->
            <h3>Advantage 2</h3>
            <p>This is advantage 2 for using this website.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="message-div">
            <!--Advantage 3-->
            <h3>Advantage 3</h3>
            <p>This is advantage 3 for using this website.</p>
          </div>
        </div>
      </div>
    </div>

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="message-div">
              <!--Advantage 1-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="message-div">
              <!--Advantage 2-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="message-div">
              <!--Advantage 3-->
            </div>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>