
@font-face {
    font-family: 'quote-font';
    src : url(fonts/SpecialElite-Regular.ttf) ;
}
@font-face {
    font-family: 'AquireBold';
    src : url(fonts/AquireBold-8Ma60.otf)  ; 
}
@font-face {
    font-family: 'Gilroy';
    src : url(fonts/Gilroy-Light.otf)  ; 
}
@font-face {
    font-family: 'Techovier';
    src : url(../fonts/Techovier\ Black.ttf)  ; 
}
*{
    font-family: 'Gilroy';
}
a{
    cursor: pointer;
}
body{
    
    background-image: url('../img/find-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.page-heading{
    margin: auto auto;
    text-align: center;
    border-bottom: 2px solid black;
    display: none;
}

.top-container{
    margin: auto auto;
    align-items: center;
    height: 390px;
    padding-top: 80px;
}
.search-form-div{
    /* 250-33(page-heading height) */
    padding: 217px 0 0 0;
    align-items: center;
}
#search-form{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 20px grey;
}
input{
    outline: none;
}
input:hover{
    border: 1px solid rgb(119, 119, 119);
}
input:focus{
    border: 1px solid rgb(0, 0, 0);
}
.pickup-input{
    padding: 10px 20px;
    border: 1px solid rgb(187, 187, 187);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px;
    font-size: 18px;
}
.drop-input{
    padding: 10px 20px;
    border: 1px solid rgb(187, 187, 187);
    margin-right: -1px;
    margin-left: -1px;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}
.date-input{
    padding: 10px 20px;
    border: 1px solid rgb(187, 187, 187);
    margin-right: -1px;
    height: 50px;
    font-size: 18px;
}
.search-btn{
    padding: 1px 50px;
    background-color: rgba(255, 81, 0, 0.774);
    color: white;
    border: 1px solid rgba(255, 81, 0, 0.774);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    font-size: 18px;
}
.show-ride-container{
    margin: 25px auto;
    align-items: center;
}
.show-ride-div-div{
    margin: 20px auto;
    width: 800px                    !important; 
}
.show-ride-div{
    padding: 20px 20px 20px 20px     !important;
    border: 2px solid white;
    border-radius: 20px;
    color: black;
    background-color: white;
    align-items: center;
    display: flex;
    box-shadow: 1px 1px 20px grey;
    transition: 0.5s;
    width: 90%                    !important; 
}
.show-ride-div:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    box-shadow: 1px 1px 10px grey;
}
.show-ride-div .col-md-4{
    width: 100%;
}
.show-ride-div p,.show-ride-div h4{
    margin: 0%;
    font-size: 20px;
}
.show-ride-div a{
    color: black;
}
.show-ride-div a:hover{
    color: black;
}



#available-rides{
    font-family: 'AquireBold';
    color: orangered;
    text-align: center;
    text-shadow: 3px 3px 0px grey;
}
#available-rides h1{
    width: fit-content;
    margin: 0 auto;
    background-color: white;
}



/*
    css for join confirm page
*/

.ride-confirm-container{
    margin: 100px auto;
}
.ride-confirm-div{
    font-size: 20px;

    margin: 0 auto;
    padding: 0 50px 20px 50px;
    width: 45%;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
}
.ride-confirm-div h4{
    font-size: 25px;
}
.ride-confirm-btn-div form{
    align-items: center;
}
.ride-confirm-btn-div a{
    margin: 0 45%;
}
.ride-confirm-btn{
    color: white;
    background-color: rgba(255, 81, 0, 0.774);
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    margin: 30px auto 15px auto;
    outline: none;
}
.ride-confirm-btn:hover{
    background-color: rgba(255, 21, 0, 0.801);
}